[Unit]
Description=Jupyterlab

[Service]
ExecStart=/usr/bin/sh -c 'PATH="$HOME/.conda/bin:$PATH" /usr/bin/firejail --profile=${HOME}/.config/firejail/conda.profile jupyter lab'
Type=simple

[Install]
WantedBy=default.target
